@using SportsNews.Models
@model LayoutViewModel
@{
    ViewData["Title"] = "Administration zone";
}
<p>
    <h3>@Model.Title</h3>
</p>


<div style="text-align: center;">
    MAIN ARTICLES
</div>
<div>
    CATEGORY
    SUBCATEGORY
    TEAM
</div>
<div style="font-size: xx-small;">
    ARTICLE*

    <div>Delete</div>
    <div>Show on the main page</div>
</div>

<button onclick="helloWorldClicked()">Click Me</button>