@using SportsNews.Models
@model LayoutViewModel<UserInfoViewModel>
@{
    ViewData["Title"] = "Personal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h3>@Model.Title</h3>
</p>
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PageModel.FirstName"></label>
            </div>
            <div class="col">
                <input type="text" asp-for="PageModel.FirstName" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="PageModel.FirstName"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PageModel.LastName"></label>
            </div>
            <div class="col">
                <input type="text" asp-for="PageModel.LastName" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="PageModel.LastName"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PageModel.Email"></label>
            </div>
            <div class="col">
                <input type="text" asp-for="PageModel.Email" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="PageModel.Email"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" asp-controller="Account" asp-action="PersonalInfo" value="Update Profile"/>
            </div>
        </div>
    </form>
</div>

